<form action='/names' method="post">
  <label for="player1">Player 1:</label><br>
  <input type="text" name="player1" /><br>
  <label for="player1">Player 2:</label><br>
  <input type="text" name="player2" /><br>
  <input type="submit" value="Submit" />
</form>